@import "./base.css";


html {
  /* max-width: 80%; */
  /* height: 800px; */
  /* padding: 0rem 2rem 1rem 2rem;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0rem;
  margin-bottom: 0.5rem; */
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
